<%- include('header') -%>
<div class="book">
    <div class="title"><h1>Pickup Details</h1></div>
    <div class="pickup">
        <div class="left">
            <form method="POST" action="/route/order">
                <div class="catagory">
                    <label for="catagory">Product Details :</label>
                    <select name="catagory" id="" required>
                        <option value="recyclable">Recyclable</option>
                        <option value="nonrecyclable">Non Recyclable</option>
                    </select>
                </div>
                <div class="amount">
                    <label for="Address">Amount (in Kgs) :</label>
                    <input type="number" name="amount" required>
                </div>
                <div class="phoneNo">
                    <label for="Address">Phone Number :</label>
                    <input type="tel" name="phoneNo" required>
                </div>
                <div class="location">
                    <input type="text" name="latitude" id="latitude">
                    <input type="text" name="longitude" id="longitude">
                </div>
                <div class="address" required>
                    <label for="Address">Address :</label>
                    <input type="text" name="address" required>
                </div>
                <div class="time" >
                    <label for="Time">Select a time slot :</label><br>
                    <input type="date" name="StartDate" id="userdate" onchange="TDate()" required >
                    <select name="slot" id="" required>
                        <option value="morning">9AM to 11PM</option>
                        <option value="afternoon">12PM to 2PM</option>
                        <option value="evening">4PM to 6PM</option>
                    </select>
                </div>
                <div class="image">
                    <label for="file">Uplaod an Image :</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="right"><div class="map" id="map"></div></div>
    </div>
</div>
<script>

    var latitude = 0;
    var longitude = 0;
    function changeCoords(lat, long) {
        latitude = lat;
        longitude = long;
        marker.setLatLng([latitude, longitude]);
        mymap.setView([latitude, longitude], 15);
        const l1 = document.getElementById("latitude");
        const l2 = document.getElementById("longitude");
        l1.value=latitude;
        l2.value=longitude;
    }
    if('geolocation' in navigator) {
        console.log('yes');
        navigator.geolocation.getCurrentPosition(position => {
            console.log(position.coords);
            changeCoords(position.coords.latitude, position.coords.longitude);
        });
    }
    
    const mymap = L.map('map').setView([latitude, longitude], 13);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    var marker = L.marker([0, 0],{draggable: true}).addTo(mymap);
    marker.setLatLng([latitude, longitude]);
    mymap.setView([latitude, longitude], 2);
</script>
<script>
    function TDate() {
    var UserDate = document.getElementById("userdate").value;
    var ToDate = new Date();

    if (new Date(UserDate).getTime() <= ToDate.getTime()) {
          alert("The Date must be Bigger or Equal to today date");
          return false;
          UserDate=ToDate;
     }
    return true;
}
</script>

<script>

</script>

<%- include('footer') -%>
