<%- include('headerSignup') -%>

<div class="loginPage">
    
    <div class="citizenForm">
        <form action="/route/signupReceiver" method="POST">
            <h1>SignUp For Receivers</h1>
            <div class="input">
                <div class="inputs">
                    <label for="">Full Name :</label><br>
                    <input type="text" name="name">
                </div>
                <div class="inputs">
                    <label for="">Email :</label><br>
                    <input type="text" name="email">
                </div>
                <div class="inputs">
                    <label for="">Password :</label><br>
                    <input type="password" name="password">
                </div>
                <div class="inputs">
                    <label for="">Phone Number :</label><br>
                    <input type="tel" name="phone">
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include('footer') -%>